.main {
  width: 380px;
  margin-bottom:8px;

  .mini {
    font-size: 10px;
    text-align: left;
  }
  
  .textBox {
    line-height: 138%;
    font-size: 24px;
    color: rgb(0, 255, 238);
    background: rgb(23, 23, 23);
    padding: 4px;
  }

}
