.main {
  position: relative;
  margin-bottom:8px;

  .mini {
    text-align: left;
    font-size: 10px;
  }

  .menuName {
    text-align: left;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
    color: rgb(0, 255, 238);
  }

  .chefBox {
    width: 320px;
    height: 42px;
    background: rgb(44, 44, 44);
    position: relative;

    .ChefIconWrapper {
      position: absolute;
      top: 4px;
      left: 6px;
    }

    .textBox {
      padding-top: 10px;
      font-size:18px;
      color: rgb(0, 255, 238);
    }

  }

}
